<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artigos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Estilos personalizados background-color: #f7f7f7;-->
    <style>
        body {
            display: flex;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #dddddd;
        }

        footer {
            position: fixed;
            bottom: 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #007bff;
        }

        footer p {
            color: white;
            border-radius: 40px;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
            padding-right: 10px;
            padding-left: 10px;
            margin: 2px;
        }

        #menu-toggle {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
            background-color: #007bff;
            border: none;
            width: 60px;
            /* Definindo um tamanho fixo para o botão */
            height: 60px;
            /* Definindo um tamanho fixo para o botão */
            cursor: pointer;
            color: white;
            font-size: 24px;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s ease;
            /* Transição para o fundo */
        }


        #menu-toggle i {
            transition: transform 0.3s ease, opacity 0.3s ease;
            font-size: 27px;
        }

        #menu-toggle i.fa-times {
            transform: rotate(180deg);
            /* Efeito de rotação para o ícone de fechar */
        }

        .container {
            max-width: 900px;
            margin-top: 24vh;
            border-radius: 10px;
            background-color: #dddddd;
            margin-bottom: 60px;
        }

        .article {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            overflow: hidden;
        }

        .article .img {
            width: 100%;
            height: 30vh;
            border-bottom: 1px solid #eee;
        }

        .article-content {
            padding: 20px;
        }

        .article h2 {
            font-size: 1.75rem;
            margin-bottom: 10px;
            color: #333;
        }

        .article p {
            color: #666;
            font-size: 1rem;
        }

        .article-category {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 10px;
        }

        #submit {
            opacity: 0.5;
            width: 100%;
            border: none;
        }

        #submit:hover {
            opacity: 1;
            width: 100%;
            border: none;
        }

        header {
            width: 100vw;
            height: 18.5vh;
            background: white;
            position: fixed;
            top: 0px;
            box-shadow: 0px -20px 20px 20px black;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
        }

        .responsive-element {
            border-radius: 5px;
            width: 300px;
            height: 100px;
            background-image: url(img/Background.webp);
            background-size: cover;
            background-position: center;
        }

        @media (max-width: 768px) {
            header {
                background-image: url(img/Background.webp);
                background-size: cover;
                background-position: center;
                box-shadow: 0px -20px 20px 20px black;
            }

            .responsive-element {
                display: none;
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="responsive-element">
        </div>
    </header>
    <div class="container">
        <!-- Itera sobre os artigos e os organiza em formato de jornal -->
        <% articles.forEach(article=> { %>
            <div class="article">
                <!-- Exibe a imagem do artigo, se houver -->
                <% if (article.images && article.images.length> 0) { %>
                    <form method="post" action="/articles/search">
                        <input type="text" name="title" value="<%= article.title %>" style="display: none;">
                        <button type="submit" id="submit" style="transition: all 3s">
                            <div class="img"
                                style="background-image: url(<%=article.images[0]%>); background-position: center; background-size: cover;"
                                alt="<%= article.title %>"></div>
                        </button>
                    </form>
                    <% } %>

                        <div class="article-content">
                            <!-- Categoria do artigo -->
                            <div class="article-category">
                                <%= article.category %>
                            </div>
                            <!-- Título do artigo -->
                            <h2>
                                <%= article.title %>
                            </h2>
                            <!-- Descrição ou conteúdo do artigo -->
                            <p>
                                <%= article.description %>
                            </p>
                        </div>
            </div>
            <% }) %>
    </div>
    <a href="/home"><button id="menu-toggle">
            <i class="fas fa-arrow-left"></i> <!-- Ícone de menu fechado -->
        </button></a>
        <footer>
            <i>
                <p style="font-size: 12.5px;">&copy; 2024 Hoard Piece - Dev. Isaac Ângelo</p>
            </i>
        </footer>
    <script>
    </script>
    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>